<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %> <!-- How do I change this to load diff JS files for each controller? Do I just change 'application' to 'index'? -->
  </head>

  <body>
    <!-- Devise Gem stuff -->
    <% if notice.present? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <section class="links">
      <% if current_user %>
        <p>
          <%= link_to 'Create new to-do list', new_todolist_path %> | 
          <%= link_to 'See all to-do lists', todolists_path %> |
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </p>
      <% else %>
        <p>
          <%= link_to "Sign up", new_user_registration_path %> | 
          <%= link_to "Log in", new_user_session_path %>
        </p>
      <% end %>
    </section>

    <section class="author">
      A <%= link_to "todo-mvc", "http://todomvc.com" %>
      application, built by John Henderson
    </section>
  </body>
</html>
